activity_unproductive.wav
saw_wave_A2.wav
saw-wave-2-g3.wav
swipep.asv
test_script_swipep.m
get_lpc.asv
saw_wave_A2.wav
saw-wave-2-g3.wav
vocales_e_centralabajo_away.wav
vowel_e_test.wav
vocales_e_centralabajo_away.wav.asd
vowel_e_test.wav.asd
1formants_K1003_7.1-2-a_1.csv
formant_csv_vowel_e.csv
formant_csv_vowel_e1.csv
formants_K1003_7.1-2-a_1.csv
formants_P1021_7.1-1-a_1.csv
pitch_csv_vowel_e.csv
pitch_K1003_7.1-2-a_1.csv
pitch_P1021_7.1-1-a_1.csv