activity_unproductive.wav
saw_wave_A2.wav
saw-wave-2-g3.wav
swipep.asv
test_script_swipep.m
get_lpc.asv
saw_wave_A2.wav
saw-wave-2-g3.wav
vocales_e_centralabajo_away.wav
vowel_e_test.wav
vocales_e_centralabajo_away.wav.asd
vowel_e_test.wav.asd